@-moz-document url-prefix("chrome:") {

  .urlbar-page-action {
    margin-left: 15px !important;
  }

  .zen-sidebar-top-buttons {
    padding-left: 0 !important;
  }

  #tabbrowser-tabpanels {
    --zen-element-separation: 5px;
    --zen-main-browser-background: #000000;
    --zen-webview-border-radius: 8px;
    padding: 0px !important;
    margin: 0px !important;
  }

  #tabbrowser-tabpanels .browserSidebarContainer {
    background-color: #333;
    border: 1px solid #333;
    overflow: hidden;
  }

  #tabbrowser-tabs[orient="vertical"] {
    --tab-min-height: 40px;
  }

  .tab-label-container {
    height: auto !important;
  }

  #tabbrowser-tabs .tabbrowser-tab:not([pinned]):is([visuallyselected]):not(:hover) .tab-close-button {
    display: none !important;
  }

  #TabsToolbar-customization-target .toolbarbutton-1 {
    padding: 4px 12px !important;
  }

  #zen-sidebar-icons-wrapper .toolbarbutton-1 {
    padding: 3px 5px !important;
  }
}