@-moz-document url-prefix("chrome:") {

  #browser {
    --zen-main-browser-background: #000;
  }

  #zen-sidebar-top-buttons {
    & #zen-sidebar-top-buttons-customization-target {
      padding-left: 10px !important;
      padding-right: 5px !important;
    }
  }

  .sharing-icon,
  #identity-icon,
  #tracking-protection-icon,
  #blocked-permissions-container {
    & .blocked-permission-icon+.blocked-permission-icon {
      margin-inline-start: 10px !important;
    }
  }

  #page-action-buttons {
    & .urlbar-page-action+.urlbar-page-action {
      margin-inline-start: 15px !important;
    }
  }

  /* adjust browser container */
  #zen-tabbox-wrapper {
    --zen-element-separation: 0;
  }

  #tabbrowser-tabpanels {
    & .browserSidebarContainer {
      background-color: #333;
      border: 1px solid #333;
      overflow: hidden;
    }
  }

  #tabbrowser-tabs {

    /* bottom tabs */
    &[orient="vertical"] {
      --tab-min-height: 40px;
    }

    /* only show close tab button on hover */
    & .tabbrowser-tab {

      &:is([pinned]),
      &:not(:hover) {
        .tab-close-button {
          display: none !important;
        }
      }
    }
  }

  #zen-essentials-container {
    & .tab-icon-image {
      border-radius: 8px;
      width: 28px !important;
      height: 28px !important;
      object-fit: contain;
    }

    /* adjust essentials tab icon indicator position */
    & .tab-icon-overlay {
      width: 18px !important;
      height: 18px !important;

      &:not([indicator-replaces-favicon]) {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
          top: -8px !important;
          right: -22px !important;
        }
      }
    }
  }

  #vertical-pinned-tabs-container,
  #tabbrowser-arrowscrollbox {
    & .tab-icon-image {
      border-radius: 6px;
      width: 24px !important;
      height: 24px !important;
      object-fit: contain;
    }

    /* adjust tab icon indicator position */
    & .tab-icon-overlay {
      &:not([indicator-replaces-favicon]) {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
          top: -8px !important;
          right: -16px !important;
        }
      }
    }

    /* adjust tab label */
    & .tab-label {
      font-weight: 500;
    }
  }

  #navigator-toolbox {
    max-width: 390px !important;
  }

  /* bottom toolbar */
  #TabsToolbar-customization-target .toolbarbutton-1 {
    padding: 4px 12px !important;
  }

  #zen-sidebar-icons-wrapper .toolbarbutton-1 {
    padding: 3px 5px !important;
  }
}